{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>О борде</h2>

    <p><strong>Mipt.me</strong> &mdash; это альтернативная физтеховская борда, организованная по типу <a href="https://www.reddit.com/">Reddit</a>. Она поддерживается командой энтузиастов в свободное от безделья время. Преимущества по сравнению с хауптбордой &mdash; открытый код (лежит на <a href="https://github.com/b04rd/flask_reddit">гитхабе</a>) и либеральная модерация (наша политика: ничего не удалять, чтобы не ошибиться в запросе и не грохнуть всю базу).</p>
    <p>Пока что борда в тестовом режиме, <strong>любые</strong> улучшения и дополнения приветствуются. Поучаствовать в развитии можно разными способами:
        <ul>
            <li>написать код и отправить пулл-реквестом на гитхабе, либо как патч на электронную почту;</li>
            <li>найти ошибки в работе борды и написать багрепорт в <a href="https://github.com/b04rd/flask_reddit/issues">issues</a> (просто пожелания писать туда же);</li>
            <li>улучшить дизайн, поработав над версткой или над медиаконтентом;</li>
            <li>поддерживать теплую атмосферу на борде;</li>
            <li>купить команде разработчиков печенек.</li>
        </ul>
    </p>

    <h4 class="contacts-header">Последние обновления</h4>
     <p><strong>25.03.2016</strong> &mdash; добавлена эта страница.</p>
    <p><strong>24.03.2016</strong> &mdash; исправлена сортировка комментариев.</p>
    <p><strong>19.03.2016</strong> &mdash; скрыта э-почта от незарегистрированных пользователей.</p>
    <!-- <p><strong>19.03.2016</strong> &mdash; </p> -->

    <h4 class="contacts-header">Статистика</h4>
    <p class="trophy-room">
        Всего комментариев: <span class="red">{{ comment_num }}</span>,
        тредов: <span class="red">{{ thread_num }}</span>,
        субреддитов: <span class="red">{{ subreddit_num }}</span>.<br>
        Зарегистрировано <span class="red">{{ user_num }}</span> пользователей.
    </p>
</div>
{% endblock %}
